#noCol {
    text-decoration: none;
    color: black;
}

@media (max-width: 70em) {
    #noCol {
        display: none;
    }

    #hamburger {
        animation: pulse 5s infinite;
    }
}

#linkies {
    display: inline-flex;
}

.navbar {
    text-align: center;
    display: block;
}

#navImg {
    height: 17vh;
    padding-right: 2.5rem;
}

@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

nav {
    background-color: transparent;
    color: black;
    /* font-family: 'Permanent Marker', cursive; */
    font-family: 'Teko', sans-serif;

    font-size: 2.25rem;
}

#navbarNav a {
    color: rgb(5, 5, 5);
}

#noCol:hover {
    color: rgb(151, 6, 6);
    font-size: 2.5rem;
    /* text-shadow: 7px 17px 2px rgb(0, 2, 5), 0 0 .2em rgb(0, 7, 10), 0 0 0.5em rgb(3, 152, 211); */
}

/* give nick options on hover accents get jess oppinion, color scheme */
.active {
    font-size: 1.55rem;
    color: rgb(151, 6, 6);
    text-shadow: 5px;
}

#hamburger {
    background-color: rgba(255, 255, 255, 0.253);
}

#hamburger:hover {
    background-color: rgb(151, 6, 6);
    color: rgb(151, 6, 6);
}

#theNavbar {
    margin-top: 2%;
}


@-webkit-keyframes pulse {
    0% {
        background-color: rgb(247, 247, 247);
    }

    50% {
        background-color: rgb(129, 0, 0);
    }
    100% {
        background-color: rgb(247, 247, 247);
    }
}

@keyframes pulse {
    0% {
        background-color: rgb(247, 247, 247);
    }

    50% {
        background-color: rgb(129, 0, 0);
    }
    100% {
        background-color: rgb(247, 247, 247);
    }
}

/* page specific alignments */